# --- Core ---
aiofiles
aiohttp
dnspython==2.2.1
ffmpeg-python
psutil
tgcrypto
python-dotenv

# --- Telegram ---
pyrofork
py-tgcalls==0.9.7

# --- YouTube / Audio ---
yt-dlp
httpx==0.27.2
youtube-search-python==1.6.6

# --- Optional / safe ---
pillow
requests
