# ---- Core ----
aiofiles
aiohttp
dnspython==2.2.1
ffmpeg-python
psutil
tgcrypto
python-dotenv

# ---- Telegram ----
pyrogram
py-tgcalls==0.9.7

# ---- YouTube / Streaming ----
yt-dlp
youtube-search-python==1.6.6
httpx==0.24.1

# ---- Optional ----
pillow
requests
