# -------- Core --------
aiofiles
aiohttp
dnspython==2.2.1
ffmpeg-python
psutil
tgcrypto
python-dotenv

# -------- Telegram --------
pyrofork
py-tgcalls==0.9.7

# -------- YouTube / Streaming --------
--pre yt-dlp
youtube-search-python==1.6.6
httpx>=0.28.1

# -------- Optional / Safe --------
pillow
requests
